In [1]:
import pandas as pd
import sweetviz as sv

In [2]:
data = pd.read_csv("../Occupancy_Estimation.csv")
data.columns = data.columns.str.strip().str.lower()
data.insert(2, "datetime", pd.to_datetime(data["date"] + " " + data["time"]))
data["room_occupancy_count"] = data["room_occupancy_count"].astype(int)
data = data.iloc[:, 2:]
data.head()

,datetime,s1_temp,s2_temp,s3_temp,s4_temp,s1_light,s2_light,s3_light,s4_light,s1_sound,s2_sound,s3_sound,s4_sound,s5_co2,s5_co2_slope,s6_pir,s7_pir,room_occupancy_count
0,2017-12-22 10:49:41,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1
1,2017-12-22 10:50:12,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1
2,2017-12-22 10:50:42,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1
3,2017-12-22 10:51:13,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1
4,2017-12-22 10:51:44,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10129 entries, 0 to 10128
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              10129 non-null  datetime64[ns]
 1   s1_temp               10129 non-null  float64
 2   s2_temp               10129 non-null  float64
 3   s3_temp               10129 non-null  float64
 4   s4_temp               10129 non-null  float64
 5   s1_light              10129 non-null  int64
 6   s2_light              10129 non-null  int64
 7   s3_light              10129 non-null  int64
 8   s4_light              10129 non-null  int64
 9   s1_sound              10129 non-null  float64
 10  s2_sound              10129 non-null  float64
 11  s3_sound              10129 non-null  float64
 12  s4_sound              10129 non-null  float64
 13  s5_co2                10129 non-null  int64
 14  s5_co2_slope          10129 non-null  float64
 15  s6_pir                10129 non-null  int64
 16  s7_pir                10129 non-null  int64
 17  room_occupancy_count  10129 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(8)
memory usage: 1.4 MB

In [4]:
sv.analyze(data, target_feat="room_occupancy_count")

Feature: room_occupancy_count (TARGET)       |â–ˆ         | [ 11%]   00:00 -> (00:01 left)

ValueError: TARGET values can only be of NUMERICAL or BOOLEAN type for now.
CATEGORICAL type was detected; if you meant the target to be
NUMERICAL, use a FeatureConfig(force_num=...) object.

Feature: room_occupancy_count (TARGET)       |â–ˆ         | [ 11%]   00:20 -> (00:01 left)